<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UMConfigureKey</key>
	<string>5f1d8cabb4fa6023ce19c424</string>
	<key>BuglyKey</key>
	<string>61d703cac5</string>
	<key>QQGroupUin</key>
	<string>684391880</string>
	<key>QQGroupKey</key>
	<string>2269151c0892867b485665960bac0391ad4d69d6cc4031b818c0be3e7eff44b0</string>
</dict>
</plist>
