<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UMConfigureKey</key>
	<string>60209eb6668f9e17b8ac6893</string>
	<key>BuglyKey</key>
	<string>61d703cac5</string>
	<key>QQGroupUin</key>
	<string>981701926</string>
	<key>QQGroupKey</key>
	<string>9034fd9c90936bea207e413bb8c77d80534cb3bd5415df1f1edfca58e22f5fa1</string>
	<key>AppStoreId</key>
	<string>1552175583</string>
	<key>BuglyAppId</key>
	<string>2b38a7af2f</string>
</dict>
</plist>
